@media only screen and (min-width: 32.5em) {

    .active {
        font-family: 'Heebo', sans-serif;
        color: whitesmoke;
    }

    footer {
        font-size: 15px;
        display: flex;
        bottom: 0;
        font-family: 'Heebo', sans-serif;
        justify-content: center;
        width: 100%;
        background-color: #40798C;
        color: #344441;
        opacity: .8;
    }

    iframe {
        width: 10%;
        padding: 2%;
    }

    header img {
        width: 300px;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
    }

    h1 {
        font-size: 60px;
        text-align: center;
        color: #DFE0E2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24%;
        margin-bottom: 3%;
    }

    h2 {
        font-size: 35px;
        color: #DFE0E2;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: auto;
    }

    h3 {
        font-size: 30px;
        color:  #DFE0E2;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    h4 {
        font-size: 30px;
        color: #DFE0E2;
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #DFE0E2;
    }

    .navigation a:hover {
        color: #344441;
        background-color: #98DFEA;
        font-weight: 700;
        border-radius: 30px;
        opacity: .8;
    }

    section p {
        font-family: 'Heebo', sans-serif;
    }

    table,
    th,
    td {
        font-family: 'Roboto', sans-serif;
        color: #344441;
        font-size: 120%;
    }

    td{
        padding: 4%;
        background-color: #40798c;
        opacity: .8;
    }

    ul {
        display: flex;
        flex-direction: row;
        /*make collumn for small media query*/
        justify-content: space-around;
        background-color: #40798C;
        border-radius: 30px;
        margin-top: 40px;
        opacity: .8;
    }

    #forecast {
        display: flex;
        justify-content: center;
    }

    /* 
body{
    background-image: url("images/background.png");
    background-position: fixed;
} */
}