body {
    font-family: 'Ubuntu', sans-serif;
}

table {
    box-shadow: 5px 5px 7px #628ca6;
}

table,
tr,
th,
td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 5px
}

td {
    text-align: center;
}

th[colspan="3"] {
    background-color: #7fb9c2;
    color: #000000;
}

th {
    background-color: #628ca6;
    color: #ffff;
}

tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tr {
    background-color: #e7ffed;
}

#special {
    background-color: #628ca6;
    color: #ffff;
}

tfoot {
    font-size: 7pt;
}