body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: black;
}

h1 {
    font-size: 2.5rem;
    color: whitesmoke;
}

h2 {
    font-size: 2.0rem;
    text-align: center;
    border-bottom: 1px solid grey
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}
header, footer, footer a {
    text-align: center;
    background-color: rgb(63, 181, 208);
    color: whitesmoke;
}

header img {
    width: 25%;
    height: 35%;
    float: right;
}

footer {
    font-size: smaller;
}

ul {
    margin: 0 auto;
    max-width: 300px;
}