@media only screen and (min-width: 49.5em) {

    .active {
        font-family: 'Khula', sans-serif;
        color: whitesmoke;
    }

    footer {
        font-size: 20px;
        display: flex;
        margin-top: 1%;
        font-family: 'Khula', sans-serif;
        justify-content: center;
        width: 100%;
        background-color: #7353BA;
        color: whitesmoke;
        opacity: .8;
    }

    iframe {
        width: 10%;
        padding: 2%;
    }

    header img {
        width: 180px;
         margin-bottom: auto;
    }

    #header{
        display: flex;
        justify-content: flex-start;
    }

    li {
        list-style: none;
    }

    li a {
        text-decoration: none;
    }

    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #DFE0E2;
    }

    .navigation a:hover {
        color: whitesmoke;
        background-color: #2F195F;
        font-weight: 700;
        border-radius: 30px;
        opacity: .8;
    }

    section p {
        font-family: 'Khula', sans-serif;
    }

    table{
        table-layout: fixed;
    }
    table,
    th,
    td {
        font-family: 'Khula', sans-serif;
        color: whitesmoke;
        font-size: 20pt;
        /* padding: 15pt; */
        text-align: center;
    }

    td{
        background-color: #7353BA;
        opacity: .8;
        width: 100pt;
        height: 100pt;
    }

    th{
        width: 100pt;
        height: 100pt;
    }

    ul {
        display: flex;
        flex-direction: row;
        /*make collumn for small media query*/
        justify-content: space-around;
        background-color: #7353BA;
        /* border-radius: 30px; */
        margin-top: 40px;
    }
    
    #forecast {
        display: flex;
        justify-content: center;
    }

    .herodiv h1 {
        text-align: center;
        font-size: 2.5rem;
    }
    
    .herodiv img {
        width: 650pt;
    }
    
    .herodiv h1,
    h2,
    p {
        margin: 0;
    }
    
    #herodiv p{
        font-family: 'Khula', sans-serif;
        color: whitesmoke;
    }
    .stats {
        position: absolute;
        top: 35px;
        left: 95px;
        background-color: #7353BA
    ;
        padding: 1.5rem;
        opacity: .8;
    }
    #news img{
        width: 500pt;
    }
    #article p{
        font-size: 20pt;
    }

    #map{
    display: flex; 
    align-items: center;
    justify-content: center;
    }

    iframe{
        height: 250pt;
        width: 450pt;
    }

    .temple img {
        width: 400px;
    }

    .temple{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }

    .action {
        display: block; 
        height: 90px; 
        width: 500px; 
        background: #7353BA; 
        color: #ffffff; 
        text-align: center; 
        font-weight: bold; 
        margin-top: 1%;
        font-size: 300%; 
        line-height: 100px; 
        font-family: 'Khula', sans-serif;
        border-radius: 20px; 
        text-decoration: none;
        margin-left: 60%
    }

    .action a:hover {
        display: block; 
        height: 90px; 
        width: 500px; 
        color: whitesmoke;
        background-color: #2F195F;
        font-weight: 700;
        border-radius: 20px;
        opacity: .8;
    }

    .missionary{

        display: grid;
        width: 900px;
        margin-left: -5%;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
    }

    .missionaryForm{
        display: flex;
        justify-content: center;
    }
}