li{
    list-style: none;
}

li a{
    text-decoration: none;
}

.active {
    font-family: 'Heebo', sans-serif;
    color: whitesmoke;
}
h2 {
    font-size: 1.5rem;
    /*margin: 100px 10px 100px 10px;*/
    color: grey;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.0rem;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(63, 181, 208);
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
}

section img {
    width: 300px;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:  rgb(63, 181, 208);
    border-radius: 30px;
}

footer {
    font-size: smaller;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    background-color: rgb(63, 181, 208);
    color: whitesmoke;
    border-radius: 10px;
}

section p{
    font-family: 'Heebo', sans-serif;
}

h3{
    font-size: 1.3rem;
    /*margin: 100px 10px 100px 10px;*/
    color: grey;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}